* {
    margin: 0;
    padding: 0;
    box-sizing: content-box ;
    --imageWidth: 340px;
}
body { 
    position: relative;  
    width: 100vw;      
    overflow: auto;
    background-color: rgb(245, 234, 245);
}
#container-div {
    position: fixed;
    border: 3px solid transparent;
    top: 5px;
    left: 33%;
    width: 500px;
    height: max-content;
    padding: 10px;
    z-index: 1;
    text-align: center;
    overflow: auto;
}
#slides-container {
    border: 7px solid rgba(255, 0, 255, 0.4);
    outline: solid 2px black;
    outline-offset: 2px;
    border-radius: 3px;
    height: 490px;
    width: var(--imageWidth);
    z-index: 2;    
    position: relative;
    margin: auto;
    overflow: hidden;      
    top: -40px;
}
#slides-reel {
    height: 490px;
    width: calc(var(--imageWidth) * 3);
    z-index: 3;
    position: absolute; 
    left: 0px;  
    border:;   
}
#slides-reel.animated {
    animation-name: move-slides;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(2, jump-none);
    animation-direction: normal;    
    animation-play-state: running;
}
#slides-reel.animated.paused {
    animation-play-state: paused;
}
@keyframes move-slides {
    0% {
        left: 0px;
    }    
    50% {
        left: -var(--imageWidth) * 1;
    }    
    100% {
        left: -var(--imageWidth) * 2;
    }
}
img {
    float: left;
    width: 300px;
    margin: 20px;    
    aspect-ratio: 1/1.5;
    z-index: 4;
}
.arrow {
    all: unset;
    position: relative;
    z-index: 4;
    height: 40px;
    width: 40px;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    padding: 5px;    
    background-color: rgba(211, 255, 251, 1);
    border-radius: 3px;
    border: 1px solid black;
    color: fuchsia;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    outline: 1px solid fuchsia;    
    cursor: pointer;
}
#forward-arrow {
    left: 220px;
    bottom: 270px;
}
#back-arrow {
    right: 220px;
    top: 275px;
}
#circles-container {
    margin: auto;
    position: relative;
    border: ;
    text-align: center;
    bottom: 80px;
}
.circle {
    margin: 5px 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: teal;
}
.circle.selected {
    background-color: rgb(4, 199, 199);
}
h1 {
    font-size: 18px;
    margin: 20px 0 15px;
}
.controls {
    margin: 10px;
}