* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --imageWidth: 290px;
}
body { 
    width: 100vw;      
    overflow: auto;
    background-color: rgb(245, 234, 245);
}
#container-div {
    position: fixed;
    top: 5px;
    left: calc((100vw - 432px) / 2 );
    width: 432px;
    height: 465px;
    z-index: 1;
    text-align: center;
    border: 2px solid transparent;
    box-sizing: content-box;
}
#slides-container {
    border: 7px solid rgba(255, 0, 255, 0.4);
    outline: solid 2px black;
    outline-offset: 2px;
    border-radius: 3px;
    height: 415px;
    width: var(--imageWidth);
    z-index: 2;    
    position: absolute;
    overflow: hidden;      
    top: 0px;
    left: 65px;  
    box-sizing: content-box;
}
#slides-reel {
    height: 415px;
    width: calc(var(--imageWidth) * 3);
    z-index: 3;
    position: absolute;
    left: -0px;    
}
#slides-reel.animated {
    animation-name: move-slides;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(2, jump-none);
    animation-direction: normal;    
    animation-play-state: running;
}
#slides-reel.animated.paused {
    animation-play-state: paused;
}
@keyframes move-slides {
    0% {
        left: 0px;
    }    
    50% {
        left: calc(var(--imageWidth) * -1);
    }    
    100% {
        left: calc(var(--imageWidth) * -2);
    }
}
img {
    float: left;
    width: 250px;
    margin: 20px;    
    aspect-ratio: 1/1.5;
    z-index: 4;
}
.arrow {
    all: unset;
    position: absolute;
    z-index: 4;
    height: 30px;
    width: 30px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 5px;    
    background-color: rgba(211, 255, 251, 1);
    border-radius: 3px;
    border: 1px solid black;
    color: fuchsia;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    outline: 1px solid fuchsia;    
    cursor: pointer;
    top: 50%;
}
#forward-arrow {
    right: 5px;    
}
#back-arrow {
    left: 5px;    
}
#circles-container {   
    position: absolute;   
    text-align: center;
    bottom: 5px;
    border: 1px solid transparent;
    left: calc((100% - 120px) / 2);
    width: 120px;
}
.circle {
    margin: 0 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: cornflowerblue;
    border: 1px solid black;
}
.circle.selected {
    background-color: rgb(4, 199, 199);
}
#controls {
    display: block;
    z-index: 1;
    margin: auto;
}